
<div >
    <nav>
        <button mat-flat-button>
            <a routerLink="/profile" routerLinkActive="active" style="text-decoration:none;">Profile</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/transactionhistory" routerLinkActive="active" style="text-decoration:none;">Transaction History</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/transfer" routerLinkActive="active" style="text-decoration:none;">Transfer</a>
        </button>
        <button mat-flat-button (click)="onLogout()">
            Log Out
        </button>
    </nav>
  </div>