
<div >
    <nav>
        <button mat-flat-button>
            <a routerLink="/profile" routerLinkActive="active" style="text-decoration:none;">Profile</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/transactionhistory" routerLinkActive="active" style="text-decoration:none;">Transaction History</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/transfer" routerLinkActive="active" style="text-decoration:none;">Transfer</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/balance" routerLinkActive="active" style="text-decoration:none;">Balance</a>
        </button>
        <button mat-flat-button>
            <a routerLink="/" routerLinkActive="active" style="text-decoration:none;">Log Out</a>
        </button>
    </nav>
  </div>