<div class="container">

    <h2>Add new data</h2>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

    <mat-card>
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Sele</mat-label>
                    <input matInput required>
                    <mat-hint *ngIf="errors.name.error">{{errors.name.errorText}}</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>

        <div class='buttons'><button mat-raised-button color="primary" (click)="handleSubmit()"> Submit </button></div>


    </mat-card> -->



</div>