<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="LoginForm" >
        <div class="Title">
            Login
        </div>
        <div class="InputRow">
            <label class="Label" for="usernameField">Username</label>
            <input class="InputField" type="text" id="usernameField" placeholder=" Username" formControlName="username">
        </div>
        <div class="InputRow">
            <label class="Label" for="passwordField">Password</label>
            <input class="InputField" type="password" id="passwordField" placeholder=" Password" formControlName="password">
        </div>
        <div class="LoginButtonContainer">
            <button class="LoginButton">Login</button>
        </div>
    </div>
</form>